typing-extensions
langchain-openai
langchain-experimental
pandas
yfinance
praw
feedparser
stockstats
eodhd
langgraph
chromadb
setuptools
backtrader
akshare
tushare
finnhub-python
parsel
requests
tqdm
pytz
redis
chainlit
rich
questionary
langchain_anthropic
langchain-google-genai
llama-cpp-python[server]
sentence-transformers
pytest>=7.4.0
pytest-mock>=3.11.0
pytest-cov>=4.1.0